on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: DeployEC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: >-
          export PATH=$PATH:/usr/bin:/usr/local/bin:/home/ubuntu/.config/herd-lite/bin/:/home/ubuntu/.nvm/versions/node/v24.11.1/bin && 
          cd /home/ubuntu/reservas_app && 
          git fetch origin main && 
          git reset --hard origin/main && 
          composer install --no-dev --optimize-autoloader --no-interaction && 
          npm run build && 
          podman-compose down &&
          podman-compose up -d &&
          podman exec laravel-app php artisan config:clear &&
          podman exec laravel-app php artisan route:clear &&
          podman exec laravel-app php artisan view:clear &&
          podman exec laravel-app php artisan config:cache &&
          podman exec laravel-app php artisan route:cache &&
          podman exec laravel-app php artisan view:cache
          
          
          
          
