on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: DeployEC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: >-
          cd /home/ubuntu/reservas_app &&
          git fetch origin main &&
          git reset --hard origin/main &&
          /home/ubuntu/.config/herd-lite/bin/composer update --no-dev --optimize-autoloader --no-interaction &&
          npm run build &&
          /home/ubuntu/.config/herd-lite/bin/php artisan config:clear &&
          /home/ubuntu/.config/herd-lite/bin/php artisan cache:clear &&
          /home/ubuntu/.config/herd-lite/bin/php artisan route:clear &&
          /home/ubuntu/.config/herd-lite/bin/php artisan view:clear &&
          /home/ubuntu/.config/herd-lite/bin/php artisan config:cache &&
          /home/ubuntu/.config/herd-lite/bin/php artisan route:cache &&
          /home/ubuntu/.config/herd-lite/bin/php artisan view:cache &&
          podman start mariadb_lv &&
          sleep 10 &&
          php artisan serve --host=0.0.0.0 --port=8000 &&
          echo "Despliegue completado"
          
